# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-error.log

# Docker
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.dev.yml
.dockerignore

# IDE/Editor
.idea
.vscode

# OS files
.DS_Store
Thumbs.db

# Build artifacts
alignment-server
simulator-bin
client/dist
tmp